body {
    background-color: aquamarine;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    font-size: 3em;
    margin: 0 auto;
}