/* google fonts Muli */
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    max-width: 2150px;
}

.foodImage {
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.item:hover .foodImage {
    opacity: 0.3
}

#item-holder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    justify-content: space-evenly;
}

.hidden {
    visibility: hidden;
}

.hidden:hover {
    visibility: visible;
}

.foodName {
    font-family: 'Muli', sans-serif;
}

#logo {
    width: 300px;
    height: auto;
    margin-left: 30px;
    margin-top: 5px;
}

#cart {
    width: 60px;
    height: auto;
    position: absolute;
    top: 25px;
    right: 15px;
}

#cart-text {
    position: absolute;
    top: 30px;
    right: 80px;
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
}

header {
    background-color: #E19001;
    height: 100px;
    margin-bottom: 30px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
}