/* colors blue and orange */
html {
    background-color: #909090;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-column-gap: 0;
}

main {
    grid-column: 2/2
}

a {
    text-decoration: none;
}

a:visited {
    color: orange;

}

#profilePic {
    border-radius: 50%;
    width: 20%;
}

.sidebar {
    background-color: #0b1a46;
    width: 25%;
    height: 100vh;
    grid-column: 1/2;
}

