/* colors blue and orange */
html {
    background-color: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    left: 10%;
}

a {
    text-decoration: none;
}

a:visited {
    color: orange;

}

#profilePic {
    border-radius: 50%;
    width: 20%;
}

.sidebar {
    background-color: #0b1a46;
    width: 25%;
    height: 100vh;
}

