/* css for week three shopping cart assignment */
* {
    font-family: 'Poppins', sans-serif;
}
.grid-container {
    display: inline-grid;
}

img {
    width: 30%;
}

div a {
    padding: 5px 5px 5px 5px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}