/* css for week three shopping cart assignment */
.grid-container {
    display: inline-grid;
}

img {
    width: 30%;
}

div a {
    padding: 5px 5px 5px 5px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    color: white;
}