/* css for week three shopping cart assignment */
* {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: red;
    color: white;
    padding: 10px 10px 10px 10px;
    top: 0;
    width: 100%;
}


.grid-container {
    display: inline-grid;
}

.gI1 {
    grid-row-start: 1;
    grid-row-end: 1;
}

.gI2 {
    grid-row-start: 1;
    grid-row-end: 1;
}

.gI3 {
    grid-row-start: 1;
    grid-row-end: 1;
}

img {
    width: 30%;
}

div a {
    padding: 5px 5px 5px 5px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}