div:hover {
    font-weight: bold;
}

div {
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    width: 50%;
    font-size: 2em;
    text-align: center;
    align-content: center;
    background-color: #808080;
}

main {
    margin: 0 auto;
}